body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-image: url("spacebg.jpg");
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 40px;
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}

.navbar {
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

.navitem a {
  transition: .5s ease;
}

input {
  background-color: rgb(205, 209, 223);
  border: none;
  border-radius: 2px;
  height: 20px;
}

input:hover {
  background-color: white;
}

a {
  color: #c0c0c0;
}

.navitem:hover a {
  -webkit-box-shadow: 0px 0px 22px 6px rgba(255,255,255,0.7); 
  box-shadow: 0px 0px 22px 6px rgba(255,255,255,0.7);
  border-radius: 5px;
  color:rgba(255, 255, 255, 0.836);
}

a:focus {
  outline: none;
}

.NASA-link {
  color:rgb(248, 225, 174)
}

.NASA-link:hover {
  color:rgb(255, 255, 255)
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.home-content {
  color: rgb(221, 221, 221);
  padding: 40px;
  width: 50%;
}

.navlink.active {
  box-shadow: inset 0 -3px #ffffff;
  border-radius: none;
}


.pic-nav-item {
  display: inline-block;
  width: 276px;
  height: 200px; 
  border-radius: 50%;
  margin: 50px;
  opacity: 80%;
  transition: .8s ease;
}

.pic-nav-item:hover {
  -webkit-box-shadow: 0px 0px 22px 6px rgba(255,255,255,0.7); 
  box-shadow: 0px 0px 22px 6px rgba(255,255,255,0.7);
}

.data-table {
  color:#fff;
  border-collapse: collapse;
  border-spacing:0px;
  width: 600px;
  padding: 40px 60px;
  padding-right: 0px;
  display: inline-block;
}

.add-value{
  margin-top: 60px;
  margin-left: 50px;
  width: 280px;
  display:inline-block;
  color: white;
  background-color:rgba(46, 62, 104, 0.45);
  padding: 10px;
}

.search-function-box {
  margin-top: 20px;
  background-color:rgba(46, 62, 104, 0.45);
  margin-left: 55px;
  padding: 10px;
  width: 280px;
  color: white;

}

.explanation-for-sol-planets{
  margin-top: 20px;
  position:absolute;
  bottom: 20px;
  right: 20px;
  background-color:rgba(104, 46, 46, 0.45);
  margin-left: 55px;
  padding: 10px;
  width: 280px;
  height: 220px;
  color: white;
}

.input-search-label {
  padding: 5px;
  background-color: rgba(17, 19, 44, 0.45);
  color: white;
}

.word-search-label {
  padding: 10px;
}

.for-inline-input {
  display: inline-block;
}

.submit-button {
  width: 80px;
  height: 30px;
  margin:5px;
  background-color:rgb(83, 123, 224);
  border: none;
  color:white;
  border-radius: 2px;
}

.submit-button:hover {
  background-color:rgb(49, 82, 167);
  border:white 1px solid;
  color:rgb(219, 219, 219);
}

form {
  padding: 5px;
}

.reset-button {
  padding: 5px;
  background-color: rgb(230, 78, 78);
  border-radius: 2px;
  border: none;
  color:white;
}

.reset-button:hover {
  background-color: rgb(230, 78, 78);
  border: white 1px solid;
}

.exoplanet-add {
  flex: wrap;
  margin-left:50px;
  height: 300px;
  display: block;
}

.add-value-list {
  list-style-type: none;
  margin: auto;
  text-align: center;
  padding: 0px 10px;
}

.move-over-li{
padding-right: 22px;
}

.input-element {
  padding: 4px 0px;
}

#attribute-input {
  color:rgb(255, 255, 255);
  border: 1px solid rgba(238, 238, 238, 0);
  cursor: pointer;
  background-color: rgb(194, 194, 194);
  background: none;

}

#attribute-input:hover {
  color:rgb(17, 19, 44);
  border: 1px solid rgba(238, 238, 238, 0);
  cursor: pointer;
  background-color: rgb(194, 194, 194);
  border-radius: 5px;

}

#attribute-input:focus {
  color:rgb(63, 63, 63);
  border: 1px solid #eee;
  cursor: pointer;
  background-color: rgb(194, 194, 194);
  border-radius: 5px;

}

table {
  padding-left: 30px;
  padding-top: 20px;
}

td {
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgba(17, 19, 44, 0.45);
  color: white;
}

tr:nth-child(odd) {
  background-color: rgba(46, 62, 104, 0.45);
  color: white;
}

th {
  text-align: center;
  padding: 10px;
  background-color: rgba(1, 9, 20, 0.836);
}

thead {
  color: #eee;

}

#delete-item-button {
  background-color: rgb(230, 78, 78);
  height: 25px;
  border: none;
  color: white;
  border-radius: 2px;
}

#delete-item-button:hover {
  cursor: pointer;
  color:rgb(214, 214, 214);
  background-color: rgb(230, 78, 78);
}

#edit-item-button {
  background-color: rgb(233, 166, 66);
  height: 25px;
  border: none;
  color: white;
  border-radius: 2px;
}

#edit-item-button:hover {
  background-color: rgb(168, 121, 50);
  cursor: pointer;
  color:rgb(214, 214, 214);
}

.hide-button{
  background-color: rgb(233, 166, 66);
  height: 35px;
  border: none;
  color: white;
  border-radius: 2px;
}

.hide-button:hover {
  background-color: rgb(168, 121, 50);
  cursor: pointer;
  color:rgb(214, 214, 214);
}

@keyframes deletePulse {
  0% {
    background: rgb(230, 78, 78);
  }
  100% {
    background:rgba(17, 19, 44, 0);
    color:rgba(17, 19, 44, 0);
  }
}

@keyframes editPulse {
  0% {
    background: rgb(233, 166, 66);
  }
  100% {
    background:rgba(255, 255, 255, 0.589);
  }
}

.flashDelete {
  animation-name: deletePulse;
  animation-duration: 2.2s;
  animation-iteration-count: 1;
}

.flashEdit {
  animation-name: editPulse;
  animation-duration: 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#create-item-button {
  width: 80px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #41b163;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-item-button:hover,
#create-item-button:focus {
  background-color: #1b703c;
}

#create-item-button:focus {
  outline: none;
}

.home-body {
  display: flex;
}