<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Team Orion</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="index.js" charset="utf-8" defer></script>

  </head>

  <body>

    <header>
      <!-- The <i> tag below includes the lizard hand icon from Font Awesome.  Do not directly style this element. -->
      <a href="/"><h1 class="site-title">Team Orion</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink"><a href="/">Home</a></li>
          <li class="navitem navlink active"><a href="galaxies">Galaxies</a></li>
          <li class="navitem navlink"><a href="hostSystems">Host Systems</a></li>
          <li class="navitem navlink"><a href="stars">Stars</a></li>
          <li class="navitem navlink"><a href="exoplanets">Exo Planets</a></li>
          <li class="navitem navlink"><a href="EPSRelation">Exo Planet Star Relationship</a></li>
        </ul>
      </nav>
    </header>

    <main class="home-body">
      {{!-- The Data from our Database --}}

      {{!-- Create a table --}}
      <table id="galaxies-table">

          {{!-- Header section --}}
          <thead>
              <tr>
                <th>Galaxy ID </th>
                <th>Galaxy Name</th>
              </tr>
          </thead>

          {{!-- Body section --}}
          <tbody>

              {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
              {{#each data}}

                <tr>
                  <td>{{this.galaxyID}}</td>
                  <td>{{#if this.galaxyName}}{{this.galaxyName}}{{else}}Null{{/if}}</td>
                </tr>
              {{/each}}
          </tbody>
      </table>

      <form id="add-galaxy-form" action="/add-galaxy-form" method="POST">
        <div class = "add-value">
          <ul class = "add-value-list">
            <li>
              <p> Add Entry to Table</p>
            </li>
            <li class="move-over-li">
              <div class="input-element">
                <label for="input-galaxyName"class="word-search-label"></label>
                <input type="text" name='input-galaxyName' id="input-galaxyName" placeholder="Galaxy Name..." class = 'galName' required>
              </div>
            </li>
            <li>
              <div class="input-element">
                <input type="submit" class="submit-button">
                <!-- <button type="button" id="create-item-button" class="galaxy-button" onclick="addRowGal();"><i class="fas fa-plus"></i> <i class="fa fa-table" aria-hidden="true"></i></button> -->
              </div>
            </li>
          </ul>
        </div> -->

      </form>

    </main>
